{% extends "base.html" %}
{% load icons %}
{% load msgs %}
{% load settings %}
{% load static %}

{% block extra_css %}
    <style>

    .node circle {
      stroke: #17a2b8;
      stroke-width: 3px;
    }
    .node circle.active {
        stroke: #2e1725;
        fill: #512d6d !important;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }

    </style>
{% endblock %}

{% block pre_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/keypit-tree.min.js' %}"></script>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">Welcome, <span class="text-muted"><strong>{{ user.username|upper }}</strong></span>! </h3>
    <span class="text-muted hidden-xs">
        Key Performance Indicator Tracking
    </span>
{% endblock %}

{% block object_tools %}
    <a href="{% url "kpi-list" %}">
        {% show_icon label='KPIs' icon='ti ti-md ti-key' %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
          {% for kind, us in units.items %}
            <div class="col-12">
                <h5 class="my-0 {% if forloop.first %}p-2{% else %}px-2 pb-2 pt-0{% endif %} row">
                    <div class="col-2">
                    <span class="text-normal text-condensed text-muted">{{ kind }}: </span></div>
                    <div class="col-10">{% for unit in us %}
                        <a href="{% url "unit-detail" unit.pk %}" title="{{ unit.name }}">
                            <span class="badge badge-info">{{ unit.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;</div>
                </h5>
            </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-12 col-md-9">
            <div id="tree-dashboard" data-target="#node-detail" data-url="{% url 'unit-list' %}"></div>
        </div>
        <div class="col-12 d-none d-md-block col-md-3 pl-3" style="border-left: 1px solid #ddd;">
            <div id="node-detail"></div>
        </div>
    </div>

    <script>
        var report = {{ report | safe }};
        dendrogram('#tree-dashboard', report);
    </script>

{% endblock %}

