{% extends "kpis/report-base.html" %}
{% load icons %}
{% load msgs %}
{% load settings %}

{% block page_heading %}
    <h3 class="text-condensed">Welcome, <span class="text-muted"><strong>{{ user.username|upper }}</strong></span>! </h3>
    <span class="text-muted hidden-xs">
        Key Performance Indicator Tracking
    </span>
{% endblock %}

{% block object_tools %}
    <a href="{% url "kpi-list" %}">
        {% show_icon label='KPIs' icon='ti ti-md ti-key' %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">

            <div class="col-12">
                <h5 class="my-0 p-2 row">
                    <div class="col-2">
                    <span class="text-normal text-condensed text-muted">Department: </span></div>
                    <div class="col-10">{% for department in departments %}
                        <a href="{% url "department-detail" department.pk %}" title="{{ department.name }}">
                            <span class="badge badge-info">{{ department.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;</div>
                </h5>
            </div>
                    <div class="col-12">
                <h5 class="my-0 px-2 pb-2 pt-0 row">
                <div class="col-2">
                    <span class="text-normal text-condensed text-muted">Beamline: </span></div><div class="col-10">
                    {% for bl in beamlines %}
                        <a href="{% url "beamline-detail" bl.pk %}" title="{{ bl.name }}">
                            <span class="badge badge-info">{{ bl.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;</div>
                </h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="list-group col-12">
            {% for division in divisions %}
                {% include "kpis/entries/department-list-item.html" with department=division %}
            {% endfor %}
        </div>
    </div>
{% endblock %}	


