{% extends "base.html" %}
{% load icons %}
{% load msgs %}
{% load settings %}

{% block page_heading %}
    <h3 class="text-condensed"> <span class="text-muted"><strong>{{ user.username|upper }}</strong> |</span> User</h3>
    <span class="text-muted hidden-xs">
        Start here to manage and monitor KPIs, and review historical data.
    </span>
{% endblock %}

{% block object_tools %}
    {% if user.is_superuser %}
        <a href="#!"  data-form-link="{% url "department-list" %}">
            {% show_icon label='New Department' icon='ti ti-md ti-plus' %}
        </a>
        <a href="#!"  data-form-link="{% url "beamline-list" %}">
            {% show_icon label='New Beamline' icon='ti ti-md ti-plus' %}
        </a>
        <a href="#!"  data-form-link="{% url "kpi-list" %}">
            {% show_icon label='New KPI' icon='ti ti-md ti-plus' %}
        </a>
    {% endif %}
{% endblock %}

{% block full %}
  <div class="row">
    <div class="col-12 col-sm-8">
        <div class="card mb-4">
            <div class="card-header p-1 text-center text-wide text-muted"><small>KEY PERFORMANCE INDICATORS</small></div>
            <div class="list-group list-group-flush">
                {% for kpi in kpis %}
                    {% include "kpis/entries/kpi-list-item.html"%}
                {% endfor %}
            </div>
        </div>

    </div>

    <!-- right region -->
    <div class="col-12 col-sm-4">
        <div class="card mb-4">
            <div class="card-header p-1 text-center text-wide text-muted"><small>DEPARTMENTS</small></div>
            <div class="list-group list-group-flush">
                {% for department in departments %}
                    {% include "kpis/entries/department-list-item.html"%}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}	


