<header>
    <nav class="navbar navbar-expand navbar-dark fixed-top animated-bg">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="{% url "landing" %}">KeyPIT</a>
        <ul class="navbar-nav ml-auto">
            {% if user.is_superuser %}
               <li class="nav-item">
                   <a  class="nav-link" href="/admin/" target="_blank">
                       <i class="ti ti-unlock"></i><span class="d-none d-md-inline-block">&nbsp;Admin</span>
                   </a>
               </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "dashboard" %}">
                    <i class="ti ti-home"></i><span class="d-none d-md-inline-block">&nbsp;Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle mr-md-2" href="#"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="search-menu">
                    <i class="ti ti-list"></i><span class="d-none d-md-inline-block">&nbsp;Search</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="search-menu">
                    <a class="dropdown-item" href='{% url "department-list" %}'>Departments</a>
                    <a class="dropdown-item" href="{% url "beamline-list" %}">Beamlines</a>
                    <a class="dropdown-item" href="{% url "kpi-list" %}">KPIs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url "category-list" %}">Categories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-md-2" href="#"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="profile-menu">
                    <i class="ti ti-user"></i><span class="d-none d-md-inline-block">&nbsp;{{user.name.upper}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-menu">
                    <div class="">
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
