{% extends "kpis/report-base.html" %}

{% load icons %}
{% load date_tags %}

{% block page_heading %}
    <h3 class="text-condensed text-muted">
        {% for dept in object.departments reversed %}
            <a href="{% url 'department-detail' dept.pk %}" title="{{ dept.name }}">{{ dept }}</a> <span class="ti ti-sm ti-angle-right"></span>
        {% endfor %}
        <span class="text-dark">{{ object.acronym|upper }}</span> |
        <span class="text-dark">
            <strong>{% if month %}{{ month|month_name }} {% elif quarter %}Q{{ quarter }} {% endif %}{% if year %}{{ year }}{% else %}{{ object.name }}{% endif %}</strong>
        </span>
    </h3>
    <span class="text-muted">
        <strong>1</strong> of <strong>{{ object.department.beamlines.count }}</strong> Beamline{{ object.department.beamlines.count|pluralize }} in {{ object.department.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% if owner %}
        <a href="#!0" data-form-link="{% url "new-month" object.pk %}">
            {% show_icon label='New Report' icon='ti ti-md ti-plus' %}
        </a>
        <a href="#!" data-form-link="{% url 'beamline-edit' object.pk %}">
            {% show_icon label='Edit' icon='ti ti-md ti-pencil-alt' %}
        </a>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-5">
                <h5 class="my-0 p-2">
                <span class="text-normal text-condensed text-muted">Year: </span>
                <a href="{% url "beamline-detail" object.pk %}" class="border-right pr-2 mx-1"><span class="px-0 badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>
                {% for yr in years %}
                    <a href="{% if period != 'year' and period %}{% url "beamline-year" object.pk yr period %}{% else %}{% url "beamline-year" object.pk yr 'month' %}{% endif %}"><span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span></a>
                {% endfor %}
                </h5>
                {% if year %}
                    <h5 class="my-0 pt-0 px-2 pb-2">
                        <span class="text-normal text-condensed text-muted">Data: </span>
                        <a href="{% url "beamline-year" object.pk year 'month' %}">
                            <span class="badge badge-{% if period == 'month' %}primary{% else %}info{% endif %}">Monthly</span>
                        </a>
                        <a href="{% url "beamline-year" object.pk year 'quarter' %}">
                            <span class="badge badge-{% if period == 'quarter' and not quarter %}primary{% else %}info{% endif %}">Quarterly</span>
                        </a>
                    </h5>
                {% endif %}
            </div>
            {% if months %}
                <div class="col-7 text-right">
                {% if months %}
                    <h5 class="my-0 p-2">
                        <span class="text-normal text-condensed text-muted">Month: </span>
                        {% for mt in months %}
                            <a href="{% url "beamline-month" object.pk year mt %}"><span class="badge badge-{% if mt == month %}primary{% else %}info{% endif %}">{{ mt|month_abbr }}</span></a>
                        {% endfor %}
                    </h5>
                {% endif %}
                {% if quarters %}
                    <h5 class="my-0 pb-2 px-2 pt-0">
                        <span class="text-normal text-condensed text-muted">Quarter: </span>
                        {% for qt in quarters %}
                            <a href="{% url "beamline-quarter" object.pk year qt %}"><span class="badge badge-{% if qt == quarter %}primary{% else %}info{% endif %}">Q{{ qt }}</span></a>
                        {% endfor %}
                    </h5>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div id="kpi-report" class="col-12"></div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#kpi-report').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}