{% extends "base.html" %}

{% load static %}
{% load icons %}
{% load date_tags %}

{% block extra_css %}
    <link href="{% static "css/reports.min.css" %}" rel="stylesheet">
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ object.acronym|upper }} | {% endif %}</span><strong>{{ month|month_name }} {{ year }}</strong>
    </h3>
    <span class="text-muted">
        <strong>1</strong> of <strong>{{ object.department.beamlines.count }}</strong> Beamline{{ object.department.beamlines.count|pluralize }} in {{ object.department }}
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-1">
                <h5 class="my-0 p-2">
                    <a href="{% url "beamline-detail" object.pk %}"><span class="badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>&nbsp;
                </h5>
            </div>
            {% if years %}
                <div class="col-4">
                    <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted">Year: </span>
                    {% for yr in years %}
                        <a href="{% url "beamline-year" object.pk yr %}"><span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span></a>
                    {% endfor %}
                    </h5>
                </div>
            {% endif %}
            {% if months %}
                <div class="col-7 text-right">
                <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted">Month: </span>
                    {% for mt in months %}
                        <a href="{% url "beamline-month" object.pk year mt %}"><span class="badge badge-{% if mt == month %}primary{% else %}info{% endif %}">{{ mt|month_abbr }}</span></a>
                    {% endfor %}
                </h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div class="col-12 report-viewer">
    {% for cat, entries in categories.items %}
        <h3 class="section-title col-12"><span class="text-muted"><strong>{{ cat.priority_display }}</strong></span> {{ cat }}</h3>
        {% for entry in entries %}
        <div class="card mb-4">
            <div class="card-header py-1 px-3 text-wide text-muted text-bold">{{ entry.kpi.priority_display }}. {{ entry.kpi.name }}</div>
            <div class="list-group list-group-flush">
                    <div class="p-2 list-group-item list-group-item-action list-group-item-default">
                        <div class="d-flex flex-row">
                            <div class="pl-3 pt-2 text-muted align-self-center">
                                <div>
                                    {{ entry.kpi.description|linebreaksbr }}
                                </div>
                            </div>
                        </div>
                        <hr class="mx-3" />
                        <div class="d-flex flex-row">
                            <div class="box-status text-center align-middle">
                                <span class="text-large">{{ entry.value|default_if_none:"-" }}</span>
                            </div>
                            <div class="pl-3 align-self-center">
                                <div class="m-0">
                                    {% if entry.comments %}<strong>{{ entry.comments|linebreaksbr }}</strong>{% else %}<em>No additional comments</em>{% endif %}
                                </div>
                            </div>
                            <div class="tools-box ml-auto">
                                <a href="#!"  data-form-link="{% url "kpientry-edit" entry.pk %}" title="Edit this information">
                                    {% show_icon label='Edit' icon='ti ti-md ti-pencil' color='info' %}
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            {% endfor %}
    {% empty %}
        <div class="card mb-4">
            <div class="list-group list-group-flush">
                <div class="list-group-item empty p-2">
                    <a href="{% url "new-beamline-month" beamline.pk year month %}" class="d-flex flex-row">
                        <div class="box-status">
                            <div class="text-center text-muted">
                                <div title="Create a New Monthly Report" class="ti ti-md ti-plus"></div>
                                <div><small>Start Now</small></div>
                            </div>
                        </div>
                        <div class="pl-3 overflow-ellipsis flex-shrink-1 align-self-center">
                            <h4 class="p-0 m-0 text-condensed">Click here to start a new monthly KPI report for this beamline</h4>
                            <span>{{ beamline.acronym|upper }} | {{ month|month_name }} {{ year }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}