{% extends "kpis/entries/beamline.html" %}

{% load icons %}
{% load date_tags %}

{% block full %}
<div class="row">
    <div class="col-12 report-viewer pt-0">
    {% for cat, indicators in categories.items %}
        <section>
        <h3 class="col-12 section-title {% if not forloop.first %}mt-5{% endif %}">{{ cat }}</h3>
        <div class="section-entry col-12 jumbotron pt-4 pb-2 text-muted">
            <div class="description">
                <p><span class="text-bold text-large text-condensed">STRATEGIC GOAL:</span></p>
                <p>{{ cat.description|linebreaksbr }}</p>
            </div>
        </div>

        {% for kpi in indicators %}
            <div class="section-entry col-12 px-5 text-condensed">
                <div class="description d-flex flex-row pr-3">
                    <div>
                        <h4>{{ kpi.priority_display }}. {{ kpi.name }}</h4><a name="{{ kpi.name }}"></a>
                        <p>{{ kpi.description|linebreaksbr }}</p>
                    </div>
                    {% if owner and not kpi.entry %}
                        <div class="tools-box ml-auto">
                            <a href="#!"  data-form-link="{% url "kpientry-new" %}?beamline={{ beamline.pk }}&kpi={{ kpi.pk }}&month={{ year }}-{{ month }}" title="Add information">
                                {% show_icon label='Add' icon='ti ti-md ti-plus' color='info' %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if kpi.entry %}
                <div class="section-entry col-12 px-5">
                    <div class="notes">
                        <div class="d-flex flex-row">
                            {% if kpi.kind != kpi.TYPE.TEXT %}
                            <div class="box-status text-center pt-2">
                                <span class="text-large">{{ kpi.value|default_if_none:"-" }}</span>
                            </div>
                            {% endif %}
                            <div class="pl-3 align-self-center">
                                <div class="m-0">
                                    {% if kpi.comments %}<strong>{{ kpi.comments|safe|linebreaksbr }}</strong>{% else %}<em>No additional comments</em>{% endif %}
                                </div>
                            </div>
                            {% if owner %}
                                <div class="tools-box ml-auto">
                                    <a href="#!"  data-form-link="{% url "kpientry-edit" kpi.entry %}" title="Edit this information">
                                        {% show_icon label='Edit' icon='ti ti-md ti-pencil' color='info' %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </section>
    {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}{% endblock %}
