{% extends "kpis/entries/beamline.html" %}

{% load icons %}
{% load date_tags %}

{% block full %}
<div class="row">
    <div class="col-12 report-viewer pt-0">
    {% for cat, entries in categories.items %}
        <section>
        <h3 class="col-12 section-title {% if not forloop.first %}mt-5{% endif %}">{{ cat }}</h3>
        <div class="section-entry col-12 jumbotron pt-4 pb-2 text-muted">
            <div class="description">
                <p><span class="text-bold text-large text-condensed">STRATEGIC GOAL:</span></p>
                <p>{{ cat.description|linebreaksbr }}</p>
            </div>
        </div>

        {% for entry in entries %}
            <div class="section-entry col-12 px-5 text-condensed">
                <div class="description">
                    <h4>{{ entry.kpi.priority_display }}. {{ entry.kpi.name }}</h4><a name="{{ entry.kpi.name }}"></a>
                    <p>{{ entry.kpi.description|linebreaksbr }}</p>
                </div>
            </div>
            <div class="section-entry col-12 px-5">
                <div class="notes">
                    <div class="d-flex flex-row">
                        <div class="box-status text-center pt-2">
                            <span class="text-large">{{ entry.value|default_if_none:"-" }}</span>
                        </div>
                        <div class="pl-3 align-self-center">
                            <div class="m-0">
                                {% if entry.comments %}<strong>{{ entry.comments|safe|linebreaksbr }}</strong>{% else %}<em>No additional comments</em>{% endif %}
                            </div>
                        </div>
                        {% if owner %}
                        <div class="tools-box ml-auto">
                            <a href="#!"  data-form-link="{% url "kpientry-edit" entry.pk %}" title="Edit this information">
                                {% show_icon label='Edit' icon='ti ti-md ti-pencil' color='info' %}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
    {% empty %}
        <div class="card mb-4">
            <div class="list-group list-group-flush">
                <div class="list-group-item empty p-2">
                    <a href="#!" data-form-link="{% url "new-this-month" beamline.pk year month %}" class="d-flex flex-row">
                        <div class="box-status">
                            <div class="text-center text-muted">
                                <div title="Create a New Monthly Report" class="ti ti-md ti-plus"></div>
                                <div><small>Start Now</small></div>
                            </div>
                        </div>
                        <div class="pl-3 overflow-ellipsis flex-shrink-1 align-self-center">
                            <h4 class="p-0 m-0 text-condensed">Click here to start a new monthly KPI report for this beamline</h4>
                            <span>{{ beamline.acronym|upper }} | {{ month|month_name }} {{ year }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}