{% extends "kpis/report-base.html" %}

{% load date_tags %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ object.acronym|upper }} | {% endif %}</span><strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        <strong>{{ object.beamlines.count }}</strong> Beamline{{ object.beamlines.count|pluralize }}
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-1">
                <h5 class="my-0 p-2">
                    <a href="{% url "department-detail" object.pk %}"><span class="badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>&nbsp;
                </h5>
            </div>
            {% if years %}
                <div class="col-4">
                    <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted">Year: </span>
                    {% for yr in years %}
                        <a href="{% url "department-year" object.pk yr %}">
                            <span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span>
                        </a>
                    {% endfor %}
                    </h5>
                </div>
            {% endif %}
            <div class="col-7 text-right">
                <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted">Beamline: </span>
                    {% for beamline in object.beamlines.all %}
                        <a href="{% url "beamline-detail" beamline.pk %}">
                            <span class="badge badge-info">{{ beamline.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;
                </h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#kpi-report').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}

{% block full %}
    <div class="row">
        <div id="kpi-report" class="col-12"></div>
    </div>
{% endblock %}