{% extends "kpis/report-base.html" %}

{% load date_tags %}
{% load icons %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{{ object.acronym|upper }} | </span><strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        <strong>{{ object.beamlines.count }}</strong> Beamline{{ object.beamlines.count|pluralize }}
    </span>
{% endblock %}

{% block object_tools %}
    {% if owner %}
    <a href="#!" data-form-link="{% url 'department-edit' object.pk %}">
        {% show_icon label='Edit' icon='ti ti-md ti-pencil-alt' %}
    </a>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-5">
                <h5 class="my-0 p-2">
                <span class="text-normal text-condensed text-muted">Year: </span>
                <a href="{% url "department-detail" object.pk %}" class="border-right pr-2 mx-1"><span class="px-0 badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>
                {% for yr in years %}
                    <a href="{% if period != 'year' %}{% url "department-year" object.pk yr period %}{% else %}{% url "department-year" object.pk yr 'month' %}{% endif %}">
                        <span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span>
                    </a>
                {% endfor %}
                </h5>
                {% if year %}
                    <h5 class="my-0 pt-0 px-2 pb-2">
                        <span class="text-normal text-condensed text-muted">Data: </span>
                        <a href="{% url "department-year" object.pk year 'month' %}">
                            <span class="badge badge-{% if period == 'month' %}primary{% else %}info{% endif %}">Monthly</span>
                        </a>
                        <a href="{% url "department-year" object.pk year 'quarter' %}">
                            <span class="badge badge-{% if period == 'quarter' %}primary{% else %}info{% endif %}">Quarterly</span>
                        </a>
                    </h5>
                {% endif %}
            </div>
            <div class="col-7 text-right">
                <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted">Beamline: </span>
                    {% for beamline in object.beamlines.all %}
                        <a href="{% url "beamline-detail" beamline.pk %}">
                            <span class="badge badge-info">{{ beamline.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;
                </h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#kpi-report').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}

{% block full %}
    <div class="row">
        <div id="kpi-report" class="col-12"></div>
    </div>
{% endblock %}