{% extends "kpis/report-base.html" %}

{% load icons %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted ti ti-key"></i>
        <span class="text-muted">{{ object.category.name|upper }} | </span><strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        Key Performance Indicator
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-5 col-sm-4 col-md-3">
                <h5 class="my-0 p-2">
                    <span class="text-normal text-condensed text-muted float-left">Year: </span>
                    <a href="{% url "kpi-detail" object.pk %}" class="float-left border-right px-2 mx-1"><span class="px-0 badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>
                    <div class="dropright float-left">
                      <span type="button" class="mx-1 px-2 badge badge-{% if year %}primary{% else %}info{% endif %} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          &nbsp;{{ year|default:"----" }}&nbsp;
                      </span>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for yr in years reversed %}
                            <a class="dropdown-item" href="{% if period != 'year' and period %}{% url "kpi-year" object.pk yr period %}{% else %}{% url "kpi-year" object.pk yr 'month' %}{% endif %}">{{ yr }}</a>
                          {% endfor %}
                      </div>
                    </div>
                </h5>
                <br/>
                {% if year %}
                    <h5 class="my-0 pt-0 px-2 pb-2">
                        <span class="text-normal text-condensed text-muted">Data: </span>
                        <a href="{% url "kpi-year" object.pk year 'month' %}">
                            <span class="ml-1 badge badge-{% if period == 'month' %}primary{% else %}info{% endif %}">Monthly</span>
                        </a>
                        <a href="{% url "kpi-year" object.pk year 'quarter' %}">
                            <span class="badge badge-{% if period == 'quarter' and not quarter %}primary{% else %}info{% endif %}">Quarterly</span>
                        </a>
                    </h5>
                {% endif %}
            </div>
            <div class="col-7 col-sm-8 col-md-9">
              {% for kind, us in units.items %}
                <h5 class="my-0 {% if forloop.first %}p-2{% else %}px-2 pb-2 pt-0{% endif %} row">
                    <div class="col-2 col-lg-1">
                    <span class="text-normal text-condensed text-muted">{{ kind }}: </span></div>
                    <div class="col-10 col-lg-11">{% for unit in us %}
                        <a href="{% url "unit-detail" unit.pk %}" title="{{ unit.name }}">
                            <span class="badge badge-info">{{ unit.acronym }}</span>
                        </a>
                    {% endfor %}&nbsp;</div>
                </h5>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block object_tools %}
    {% if admin %}
    <a href="#!" data-form-link="{% url 'kpi-edit' object.pk %}">
        {% show_icon label='Edit' icon='ti ti-md ti-pencil-alt' %}
    </a>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#kpi-report').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}

{% block full %}
    <div class="row">
        <div id="kpi-report" class="col-12"></div>
    </div>
{% endblock %}