{% extends "kpis/report-base.html" %}

{% load icons %}
{% load date_tags %}

{% block page_heading %}
    <h3 class="text-condensed text-muted">
        {% for dept in object.ancestors %}
            <a href="{% url 'unit-detail' dept.pk %}" title="{{ dept.name }}">{{ dept }}</a> <span class="ti ti-sm ti-angle-right"></span>
        {% endfor %}
        <span class="text-dark">{{ object.acronym|upper }} {{ object.kind.name }}</span> |
        <span class="text-dark">
            <strong>{% if month %}{{ month|month_name }} {% elif quarter %}Q{{ quarter }} {% endif %}{% if year %}{{ year }}{% else %}{{ object.name }}{% endif %}</strong>
        </span>
    </h3>

    <span class="text-muted">
        {% if object.parent %}
            <strong>1</strong> of <strong>{{ object.parent.children.count }}</strong> Unit{{ object.parent.children.count|pluralize }} in {{ object.parent.name }}
        {% endif %}
    </span>

{% endblock %}

{% block object_tools %}
    {% if owner %}
        <a href="#!" data-form-link="{% url 'unit-edit' object.pk %}">
            {% show_icon label='Edit' icon='ti ti-md ti-pencil-alt' %}
        </a>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <div class="col-5">
                <h5 class="my-0 p-2">
                <span class="text-normal text-condensed text-muted">Year: </span>
                <a href="{% url "unit-detail" object.pk %}" class="border-right pr-2 mx-1"><span class="px-0 badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>
                {% for yr in years %}
                    <a href="{% if period != 'year' and period %}{% url "unit-year" object.pk yr period %}{% else %}{% url "unit-year" object.pk yr 'month' %}{% endif %}"><span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span></a>
                {% endfor %}
                </h5>
                {% if year %}
                    <h5 class="my-0 pt-0 px-2 pb-2">
                        <span class="text-normal text-condensed text-muted">Data: </span>
                        <a href="{% url "unit-year" object.pk year 'month' %}">
                            <span class="badge badge-{% if period == 'month' %}primary{% else %}info{% endif %}">Monthly</span>
                        </a>
                        <a href="{% url "unit-year" object.pk year 'quarter' %}">
                            <span class="badge badge-{% if period == 'quarter' and not quarter %}primary{% else %}info{% endif %}">Quarterly</span>
                        </a>
                    </h5>
                {% endif %}
            </div>
            <div class="col-7 text-right">
                {% if object.children.all %}
                  {% for kind, us in units.items %}
                    <h5 class="my-0 {% if forloop.first %}p-2{% else %}pt-0 px-2 pb-2{% endif %}">
                        <span class="text-normal text-condensed text-muted">{{ kind }}: </span>
                        {% for unit in us %}
                            <a href="{% url "unit-detail" unit.pk %}">
                                <span class="badge badge-info" title="{{ unit.name }}">{{ unit.acronym }}</span>
                            </a>
                        {% endfor %}&nbsp;
                    </h5>
                  {% endfor %}
                {% endif %}
                {% if year and object.reporter %}
                    <h5 class="my-0 p-2">
                        <span class="text-normal text-condensed text-muted">Month: </span>
                        {% for mt in 12|rangelist %}
                            <a href="{% url "unit-report" object.pk year mt %}">
                                <span class="badge badge-{% if mt == month %}primary{% elif mt in months %}info{% else %}secondary{% endif %}">{{ mt|month_abbr }}</span>
                            </a>
                        {% endfor %}
                    </h5>
                {% endif %}
            </div>


        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div id="kpi-report" class="col-12"></div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#kpi-report').liveReport({
                data: report
            });
            $('.notes').each(function(i, el) {
                if($(el).height() > 400) {
                    $(el).attr('id', 'collapse-' + i);
                    $(el).addClass('collapse');
                    $(el).prepend('<a role="button" class="collapsed more" data-toggle="collapse" href="#collapse-' + i + '" aria-expanded="false" aria-controls="collapse' + i + '"><span class="badge badge-info"></span></a>');
                }
            });
        });
    </script>
{% endblock %}