.report-viewer h3 {
  border-left-color: #17a2b8;
  font-weight: 400;
  margin-top: 1rem;
}

.notes {
  ul {
    margin-bottom: 0;
  }
  &.collapse {
    &:not(.show) {
      display: block;
      height: 7rem;
      overflow: hidden;
    }
    a.more {
      position: absolute;
      bottom: 1em;
      right: 5em;
      &.collapsed::after  {
        content: '+ Show More';
      }

      &:not(.collapsed)::after {
        content: '- Show Less';
      }
    }
  }
  &.collapsing {
    height: 7rem;
  }
}