.report-viewer h3 {
  border-left-color: #17a2b8;
  font-weight: 400;
  margin-top: 1rem;
}

.notes {
  ul {
    margin-bottom: 0;
  }
  &.collapse {
    &:not(.show) {
      display: block;
      height: 400px;
      overflow: hidden;
    }
    a.more {
      position: absolute;
      bottom: 1em;
      right: 5em;
      &.collapsed::after, &:not(.collapsed)::after {
        color: white;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        border-radius: 0.25rem;
      }
      &.collapsed::after {
        content: '+ Show More';
        background-color: #17a2b8;
      }

      &:not(.collapsed)::after {
        content: '- Show Less';
        background-color: #47243a;
      }
    }
  }
  &.collapsing {
    height: 400px;
  }
}